* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* navbar start*/
#logo img {
  height: 150;
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
}
nav {
  padding: 5px !important;
}
.nav-item {
  font-size: 15px;
  padding-left: 2px;
  padding-bottom: 5px;
}
#navbar-toggler {
  background-color: #230445;
  color: white;
}
/* navbar end*/

/* home start*/
#home {
  height: 60vh;
  width: 100%;
  background-image: url("./data/heroSection2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%;
}
/* home end*/

@media (max-width: 768px) {
  /* Styles for tablets and mobile devices */
  #access {
    height: 100vh;
    background-position: center;
  }
}

@media (max-width: 576px) {
  /* Styles for mobile devices */
  #access {
    height: auto;
  }
}
/* welcome message*/
.welcome-message {
  width: 100%;
  float: left;
  color: #0b090a;
  box-sizing: border-box;
  padding: 20px;
}

.welcome-message h1 {
  font-size: 35px;
  font-style: italic;
  font-weight: bold;
  padding: 20px;
  margin: 0;
  text-align: center;
}
h1 {
  color: #0b090a;
  font-size: 35px;
  font-style: italic;
  font-weight: bold;
  padding: 20px;
  margin: 0;
  text-align: center;
}

.container #c {
  padding: 50px;
}
.welcome-message p {
  font-size: 25px;
  margin: 0;
  padding: 5px;
  margin-bottom: 20px;
  color: #0b090a;
  text-align: center;
}
/* welcome message end*/

/* about us*/
#about-us.h2 {
  font-style: italic;
  font-weight: bold;
  color: #0b090a;
  line-height: 1.5;
  text-align: center;
}
p {
  font-size: 25px;
  margin-bottom: 20px;
  color: #0b090a;
  padding: px;
  margin: 0 auto;
  text-align: left;
}

.container {
  max-width: 2000px;
  margin: auto;
  padding: 75px;
}
#accessContairt {
  margin: auto;
  padding: 1px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  width: 800px;
  height: auto;
}
/* about us finish*/
/* our servious*/

/*our servious finsesh*/

/* Media queries */
@media (max-width: 768px) {
  .col-md-8 {
    width: 100%;
  }

  .col-md-4 {
    width: 100%;
  }

  .col-md-12 {
    width: 100%;
  }
}
/* about us end */
/*footer start*/

.footer-section {
  background: #230445;
  position: relative;
}
.footer-cta {
  border-bottom: 2px solid #373636;
}
.single-cta i {
  color: #200060;
  font-size: 20px;
  float: left;
  margin-top: 2px;
}
.cta-text {
  padding-left: 10px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 20px;
}
.footer-content {
  position: relative;
  z-index: 2;
}

.copyright-area {
  background: #230445;
  padding: 1px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 18px;
  color: #878787;
  text-align: center;
}

nav a.current {
  background: #9383a3;
  color: white;
}

/* foot end*/
